
@use '../util/' as *;

.attribution {
  @include df();
  gap: 0.5rem;
  font-size: 14px;
  a {
    color: var(--Red-500);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}